/*!
	-----------------------------------------------------------------------------

	3.0 - Header
			# Extra

	-----------------------------------------------------------------------------
	*/

.industrias
	background-color: #1761A4
	position: relative
	z-index: 2
	.container-1024
		align-items: center
		display: flex
		flex-direction: column
		padding: 40px 0
		h2
			color: $white
			font-size: 2rem
			font-weight: $light
			text-transform: uppercase
		hr
			background-color: #DDD
			height: 2px
			margin: 6px 0 0
			width: 60%
	.industrias-items
		align-items: center
		background-color: red
		color: $white
		display: flex
		height: 400px
		justify-content: center
		width: 100%