/*!
	-----------------------------------------------------------------------------

	3.0 - Header
			# Extra

	-----------------------------------------------------------------------------
	*/

.industrias
	background-color: $primary
	position: relative
	z-index: 2
	.container-1024
		align-items: center
		display: flex
		flex-direction: column
		padding: 40px 0
		
		h2
			color: $white
			font-size: 2rem
			font-weight: $light
			text-align: center
			text-transform: uppercase
		hr
			background-color: #DDD
			height: 2px
			margin: 6px 0 0
			width: 60%

	.industrias-panels 
		background-color: pink
		min-height: 70vh
		overflow: hidden
		display: flex
		+respond-to(tl)
			flex-direction: column
			min-height: 140vh
		+respond-to(tp)
			flex-direction: column
			min-height: 140vh
		+respond-to(sl)
			flex-direction: column
			min-height: 140vh
		+respond-to(sp)
			flex-direction: column
			min-height: 140vh
		
		

		.panel 
			background-color: $primary
			box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1)
			color: white
			text-align: center
			align-items: center
			/* Safari transitionend event.propertyName === flex */
			/* Chrome + FF transitionend event.propertyName === flex-grow */
			transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s, filter 0.2s
			// font-size: 20px
			background-size: cover
			background-position: 50%
			flex: 1
			justify-content: center
			display: flex
			flex-direction: column
			position: relative
			filter: grayscale(100%)
			+respond-to(tl)
				text-align: left
				width: 100%
			+respond-to(tp)
				text-align: left
				width: 100%
			+respond-to(sl)
				text-align: left
				width: 100%
			+respond-to(sp)
				text-align: left
				width: 100%


			&.indus-automotriz
				background-image: url(../images/industrias/automotriz.jpg)
			&.indus-comercio
				background-image: url(../images/industrias/comercio.jpg)
			&.indus-comida
				background-image: url(../images/industrias/comida.jpg)
			&.indus-farma
				background-image: url(../images/industrias/farma.jpg)
			&.indus-financiera
				background-image: url(../images/industrias/financiera.jpeg)
			&.indus-telecom
				background-image: url(../images/industrias/telecom.jpeg)
			&.indus-tabaco
				background-image: url(../images/industrias/tabaco.jpg)
			&.indus-textil
				background-image: url(../images/industrias/textil.jpg)
			&.indus-turismo
				background-image: url(../images/industrias/turismo.jpeg)

			>
				* 
					margin: 0
					width: 100%
					transition: transform 0.5s
					flex: 1 0 auto
					display: flex
					justify-content: center
					align-items: center
					+respond-to(tl)
						justify-content: flex-start
					+respond-to(tp)
						justify-content: flex-start
					+respond-to(sl)
						justify-content: flex-start
					+respond-to(sp)
						justify-content: flex-start
		

				*:first-child
					transform: translateY(-100%)

				*:last-child
					transform: translateY(100%)

			&.open-active
				filter: grayscale(1%)
				> 
					*:first-child
						transform: translateY(0) 
					 
					*:last-child
						transform: translateY(0)

			p
				text-transform: uppercase
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45)
				font-size: 1.1rem
				position: relative
				+respond-to(tl)
					font-size: 1.85rem
					padding-left: 8vw
				+respond-to(tp)
					font-size: 1.85rem
					padding-left: 8vw
				+respond-to(tl)
					font-size: 1.65rem
					padding-left: 8vw
				+respond-to(tp)
					font-size: 1.65rem
					padding-left: 8vw

			&.open 
				flex: 5
				font-size: 2rem