/*!
	-----------------------------------------------------------------------------

	3.0 - Header
			# Extra

	-----------------------------------------------------------------------------
	*/

.niveles
	background-color: $white
	background-image: url(../images/bg-niveles.jpg)
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	padding: 80px 0
	position: relative
	z-index: 2
	.container-720
		align-items: flex-start
		display: flex
		flex-direction: column

		.title
			align-items: center
			display: flex
			flex-direction: column
			justify-content: center
			margin-bottom: 30px
			text-align: center
			width: 100%
			+respond-to(tl)
				margin-bottom: 40px
			+respond-to(tp)
				margin-bottom: 50px
			+respond-to(sl)
				margin-bottom: 60px
			+respond-to(sp)
				margin-bottom: 70px
			h2
				color: $primary
				font-size: 1.7rem
				font-weight: $light
				text-transform: uppercase
			hr
				background-color: #DDD
				height: 2px
				margin: 6px 0 0
				width: 60%

		.niveles-row
			display: flex
			flex-wrap: wrap
			width: 100%
			.niveles-col
				display: flex
				flex-direction: column
				justify-content: space-between
				margin-right: 6%
				width: 47%
				&:last-child
					margin-right: 0
				+respond-to(tl)
					width: 100%
				+respond-to(tp)
					width: 100%
				+respond-to(sl)
					width: 100%
				+respond-to(sp)
					width: 100%
				.niveles-item
					margin-bottom: 40px
					&:last-child
						margin-bottom: 0
					h3
						color: $primary
						font-size: 1.475rem
						font-weight: $light
						letter-spacing: 1px
						margin-bottom: 14px
						text-transform: uppercase
					p
						color: #3E3E3E
						font-size: 1rem
						line-height: 1.4
						margin-bottom: 18px
						text-align: justify
					&.niveles-item-img
						background-color: $secondary
						+border-radius(4px)
						overflow: hidden
						+respond-to(tl)
							margin-top: 60px
						+respond-to(tp)
							margin-top: 60px
						+respond-to(sl)
							margin-top: 60px
						+respond-to(sp)
							margin-top: 60px
						.niveles-item-head
							background-image: url('../images/nivel-actual.jpg')
							background-position: 50%
							background-repeat: no-repeat
							background-size: cover
							height: 320px
							width: 100%
						.niveles-item-body
							padding: 18px 32px
							h3,
							p
								color: $white

